/* Bootstrap Icon */

/* app */
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  background-color: lightpink;
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;

}
.nav-link{
    color: darksalmon;
}

nav a.router-link-exact-active {
  color: #42b983;
}
/* Universal Selector */

/* Custom Variables */
::-webkit-scrollbar{
    display: none;
}
/* Select all images */
img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

/* Logo */
img[alt='logo'] {
    width: 5rem;
    border-radius: 50%;
    border: solid lavender;
}

/* Wrapper */
:is(.wrapper){
    display: grid;
    grid-template-rows: auto minmax(100dvh, 100%) auto;

}